In [3]:
#List

In [4]:
lst = [2,4,6,9,12,54,21,89]

In [5]:
lst.append(2)

In [6]:
lst

[2, 4, 6, 9, 12, 54, 21, 89, 2]

In [8]:
lst.extend((45,78))

In [9]:
lst

[2, 4, 6, 9, 12, 54, 21, 89, 2, 45, 78]

In [10]:
lst.count(45)

1

In [13]:
lst.insert(2,21)

In [14]:
lst

[2, 4, 21, 6, 9, 12, 54, 21, 89, 2, 45, 78, 2]

In [17]:
lst.sort()

In [18]:
lst

[2, 2, 2, 4, 6, 9, 12, 21, 21, 45, 54, 78, 89]

In [19]:
#DICT

In [20]:
dct = {1:34,2:43,3:23,4:7,5:2}

In [22]:
dct.pop(5)

2

In [23]:
dct

{1: 34, 2: 43, 3: 23, 4: 7}

In [24]:
dct.get(1)

34

In [31]:
dct.values()

dict_values([34, 43, 23, 7])

In [34]:
dct.popitem()

(4, 7)

In [35]:
dct

{1: 34, 2: 43, 3: 23}

In [40]:
dct.update({2:4})

In [41]:
dct

{1: 34, 2: 4, 3: 23}

In [42]:
#SETS

In [43]:
st = {23,56,34,97,45,86,5,77}

In [44]:
st1 = {34,99,6,44,7,12}

In [45]:
st.issubset(st1)

False

In [46]:
st.union(st1)

{5, 6, 7, 12, 23, 34, 44, 45, 56, 77, 86, 97, 99}

In [47]:
st.difference(st1)

{5, 23, 45, 56, 77, 86, 97}

In [48]:
st.intersection(st1)

{34}

In [49]:
st.symmetric_difference(st1)

{5, 6, 7, 12, 23, 44, 45, 56, 77, 86, 97, 99}

In [50]:
#Tuples

In [51]:
tu = (23,67,98,34,78,67)

In [52]:
tu.count(23)

1

In [53]:
tu.index(98)

2

In [54]:
#No Update or insert

In [55]:
#Strings

In [59]:
str = "hello from the other side"

In [60]:
str.capitalize()

'Hello from the other side'

In [61]:
str.endswith("side")

True

In [62]:
str.isalpha()

False

In [63]:
str.split(" ")

['hello', 'from', 'the', 'other', 'side']

In [64]:
str.swapcase()

'HELLO FROM THE OTHER SIDE'